@import "tailwindcss";

@theme {
  --color-primary: #292524;
  --color-secondary: #57534e;
  --color-tertiary: #a8a29e;
  --color-accent: #a37243;
  --color-highlight: #f5f5f4;
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
}

@layer base {
  :root {
    --color-primary: #292524;
    --color-secondary: #57534e;
    --color-tertiary: #a8a29e;
    --color-accent: #a37243;
    --color-highlight: #f5f5f4;
  }

  body {
    @apply text-stone-800 bg-stone-50;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply text-primary font-bold;
  }

  .hide-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
}
